[Unit]
Description=Wake-on-Lan Server
After=network-online.target

[Service]
Type=simple
ExecStart=/root/wakeonlanserver --start-server --config /root/wol-config.json

[Install]
WantedBy=multi-user.target
